*{
   box-sizing: border-box;  
}

body{
    margin: 0;
   
}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 12px;  /*внутренний отступ блока */
    margin: 0 auto; /*внешний отступ блока */
}

.btn{
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline{
    background-color: transparent;
}

.btn-primary{
    background-color: rgb(37, 110, 235);
    color: rgb(255, 255, 255);
}


.header{
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo span{
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 6px;
}

.header-burger{
    width: 30px;
    height: 19px;
    display: none;
}


@media(max-width: 1200px){
    .container{
        max-width: 930px;
    }
}

@media(max-width: 991px){
    .container{
        max-width: 730px;
    }

}@media(max-width: 786px){
    .container{
        max-width: 100%;
    }

    .header-controls{
        display: none;
    }

    .header-burger{
        display: block;
    }
}